footer{
    margin-top: 0;
    .footer__section{
        padding: 22px 25px;
        background-color: #353535;
        @media screen and (min-width: 1024px){
            display: flex;
            flex-direction: row-reverse;
            gap: 16px;
            padding: 30px 25px;
            align-items: flex-end;
        }
        & img{
            filter: invert(100%);
            width: 100px;
            height: 27px;
            margin-bottom: 16px;
            @media screen and (min-width: 1024px){
                margin-bottom: 0;
            }
        }
        .footer__links{
            width: 190px;
            display: flex;
            flex-direction: column;
            gap: 7px;
            color: #FFFFFF;
            @media screen and (min-width: 1024px){
                width: 50%;
                flex-direction: row;
                justify-content: space-between;
            }
            & a{
                text-decoration: none;
                color: #FFFFFF;   
            }
            .footer__linkscont{
                display: flex;
                gap: 7px;
            }
            .footer__text{
                font-size: 16px;
                font-weight: 500;
                padding-right: 20px;
            }
        }       
    }
}