@import 'upbar';
@import 'footer';
@import 'menucards';
@import 'keyframes';

html{
    overflow-x: hidden;
    }

body{
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
    & a{
        text-decoration: none;
    }
}