.upbar {
  display: flex;
  flex-direction: row;
  padding: 14px 0.5px 13px 0;
  align-items: center;
}
.upbar .previous {
  color: #000;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}
.upbar .upbar__logo {
  width: 98%;
  display: flex;
  justify-content: center;
}
.upbar .logo {
  width: 200px;
  display: flex;
}

.logo_image {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

footer {
  margin-top: 0;
}
footer .footer__section {
  padding: 22px 25px;
  background-color: #353535;
}
@media screen and (min-width: 1024px) {
  footer .footer__section {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    padding: 30px 25px;
    align-items: flex-end;
  }
}
footer .footer__section img {
  filter: invert(100%);
  width: 100px;
  height: 27px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  footer .footer__section img {
    margin-bottom: 0;
  }
}
footer .footer__section .footer__links {
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #FFFFFF;
}
@media screen and (min-width: 1024px) {
  footer .footer__section .footer__links {
    width: 600px;
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .footer__section .footer__links a {
  text-decoration: none;
  color: #FFFFFF;
}
footer .footer__section .footer__links .footer__linkscont {
  display: flex;
  gap: 7px;
}
footer .footer__section .footer__links .footer__text {
  font-size: 16px;
  font-weight: 500;
  padding-right: 5px;
  white-space: nowrap;
}

main {
  margin-bottom: -50px;
}

.menu {
  padding-top: 27px;
  padding-bottom: 40px;
  background-color: #F6F6F6;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  position: relative;
  top: -50px;
}
@media screen and (min-width: 1025px) {
  .menu {
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 12%;
    padding-right: 12%;
  }
}
.menu .menu__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 17px 40px 17px;
}
@media screen and (min-width: 1025px) {
  .menu .menu__name {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
.menu .menu__name .menu__title {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.menu .menu__name .fa-heart {
  color: #000;
  cursor: pointer;
  font-family: "font Awesome 6 Free";
  padding: 2px;
  border: none;
  background: none;
  line-height: 27px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.menu .menu__name .fa-heart:hover {
  animation: filling 0.6s linear forwards;
}
.menu .menu__cat {
  margin: 0 13px 40px 13px;
}
.menu .menu__cat .menu__cat-title {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 2px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.menu .menu__cat a {
  text-decoration: none;
}
.menu .menu__cat .menu__cat-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
.menu .menu__cat .menu__cat-content .menu__cat-visible {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu__cat .menu__cat-content .menu__cat-visible .menu__cat-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu__cat .menu__cat-content .menu__cat-visible .menu__cat-text {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu__cat .menu__cat-content .euro {
  width: 40px;
  color: #353535;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
  padding-right: 10px;
}
.menu .menu__cat .menu__cat-content .menu__order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  background-color: #99E2D0;
  margin-right: -59px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: #FFFFFF;
  transition-duration: 0.5s;
}
.menu .menu__cat .menu__cat-content:hover > .menu__order {
  margin-right: 0;
  transition: all 0.8s;
}
.menu .entrees {
  transition: transform;
  transform: scale(0);
  animation: onset 2s linear forwards;
}
.menu .plats {
  transition: transform;
  transform: scale(0);
  animation: onset 2s linear forwards 1s;
}
.menu .desserts {
  transition: transform;
  transform: scale(0);
  animation: onset 2s linear forwards 2s;
}
.menu .cta {
  display: flex;
  justify-content: center;
}
.menu .cta__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  color: #FFFFFF;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 250ms;
}
.menu .cta__btn:hover {
  box-shadow: 0px 4px 16px rgb(0, 0, 0);
  opacity: 0.85;
  cursor: pointer;
}

/****Loader*****/
@keyframes veil {
  from {
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }
  25% {
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }
  50% {
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }
  75% {
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
  to {
    opacity: 0;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes filling {
  from {
    color: #F6F6F6;
  }
  25% {
    background-image: linear-gradient(to bottom, rgb(246, 246, 246) 70%, rgb(147, 86, 220) 35%, rgb(255, 121, 218) 100% 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background-image: linear-gradient(to bottom, rgb(246, 246, 246) 50%, rgb(147, 86, 220) 35%, rgb(255, 121, 218) 100% 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background-image: linear-gradient(to bottom, rgb(246, 246, 246) 25%, rgb(147, 86, 220) 35%, rgb(255, 121, 218) 100% 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    background-image: linear-gradient(to bottom, rgb(147, 86, 220) 35%, rgb(255, 121, 218) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/*****Menus*****/
@keyframes onset {
  from {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
}
body a {
  text-decoration: none;
}

/*# sourceMappingURL=style-alafrancaise.css.map */
